body {
    background: lightgrey;
    margin: 0;
}
.main-container {
    margin: auto;
    margin-top: 100px;
    width: 90%;
    max-width: 1200px;
    font-family: "Courier";
    font-size: 15px;
}

.right-column {
    width: 30%;
    float: right;
    background: white;
    border: 2px solid #e6e6e6;
    padding: 5px;
    border-radius: 10%;
}
.column-left {
    border: 2px solid #e6e6e6;
    background: white;
    margin-bottom: 10px;
    width: 65%;
    display: inline-block;
}
@media only screen and (max-width: 500px) {
    .column-left {
        width: 100%;
    }
    .right-column {
        float: none;
        width: 100%;
    }
    .container {
        min-width: 200px;
    }
}
.title-right {
    font-weight: bold;
    padding: 5px;
    border-bottom: 1px solid #e6e6e6;
        
}
.item-left {
    display: inline-block;
    background-color: #eaeaea;
    color: #5d5d5d;
    padding: 5px 10px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 5px;
}
.item-stat-qua{
    text-decoration: none;
    background-color: orange;
    color: white;
    margin-left: 5px;
    padding: 3px 6px;
    border-radius: 50%;
}
.sold {
    text-decoration: line-through;
}
.add-line {
    outline: none;
    position: relative;
    height:40px;
    margin: 2%;
}
.product-list {
    margin-left: 2%;
    margin-right: 2%;
}
.list-row {
    position: relative;
    padding-top: 2%;
    padding-bottom: 2%;
    border-top: 1px solid #e6e6e6;
}
/*Кнопки*/
.bl-label {
    background: #e6e6e6;
    padding: 8px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 15%;
    line-height: 1;

}
.bl-plus {
    background: #04a613;
    display: inline-block;
    border: 0px;
    outline: none;
    border-radius: 50%;
    color: white;
    width: 35px;
    height: 35px;
}
.bl-minus {
    background: #DC143C;
    display: inline-block;
    border: 0px;
    width: 35px;
    height: 35px;
    outline: none;
    border-radius: 50%;
    color: white;
}
.bl-cross {
    background: red;
    border: 0px;
    outline: none;
    border-radius: 20%;
    color: white;
    padding: 10px;
}
.bl-buy {
    background: #e6e6e6;
    border: 0px;
    outline: none;
    border-radius: 15%;
    padding: 10px;
}
.bl-unbuy {
    background: #e6e6e6;
    border: 0px;
    outline: none;
    border-radius: 15%;
    padding: 10px;
}
.bl-product, .title-edit {
    float: left;
    width: 30%;
    margin-top: 1%;
}
.bl-count {
    margin-left:5%;;
    width:20%;
    display: inline-block;
}
.bl-buttons {
    width: 30%;
    position: absolute;
    right: 0;
    width: 20%;
    height: 1005;
    display: inline-block;
    text-align: right;
}
.sticker {
    position: fixed;
    bottom: 0;
    left: 10%;
    width: 150px;
    height: 150px;
    bottom: -120px;
    background-color: darkviolet;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 20%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: all 200ms ease;
}
.sticker:hover {
    transform: translateY(-100px);
    background-color: lightpink;
}
.sticker-title {
    font-size: 40px;
    font-weight: bold;
}
.sticker-created {
    font-size: 15px;
}
.sticker-name {
    padding-top: 10px;
    font-size: 20px;
    font-style: italic;
}
@media print {
    .sticker {
        background: white;
        color: black;
        border: 2px solid darkviolet;
        
    }
    .sticker-title {
        display: none;
    }
    
}
button {
    position: relative;
    text-align: center;
    border: none;
    outline: 0;
}
button::before {
        content: attr(data-tooltip);
        position: absolute;
        top:0;
        color: white;
        width: 80px;
        left: 50%;
        margin-left: -40px;
        top: -25px;
        height: 15px;
        display: block;
        background-color: blueviolet;
        transform: scale(0);
        transform-origin: 50% 100%;
        transition: all 1s ease;
        border-radius: 10px;
    }
button:hover::before {
    transform: scale(1);
}
.add-product {
    position: absolute;
    top:10%;
    outline: 0;
    left: 0;
    height: 88%;
    width: 80%;
    border: 1px solid deepskyblue;
    border-right: none;
}
.add-product-but {
    position: absolute;
    top: 10%;
    right: 0;
    width:20%;
    height:98%;
    background-color: deepskyblue;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
.clearfix::after {
visibility: hidden; 
content:""; 
height: 0; 
clear: both; 
 }
.bought-items, not-bought-items {
    font-size: 12px;
}
.items-left {
    padding-bottom: 5%;
    border-bottom: 1px solid #e6e6e6;
}
.items-bought {
        padding-bottom: 10%;
}
.state-not-bought .bl-unbuy{
    display: none;
}
.state-bought .bl-buy, .state-bought .bl-cross{
    display: none;
}
.state-bought .bl-plus{
    display: none;
}
.state-bought .bl-minus{
    visibility: hidden;
}
.state-bought .bl-product{
    text-decoration: line-through;
}
.state-not-edit  .title-edit{
    display: none;
}
.state-edit  .bl-product{
    display: none;
}